<% content_for :head do -%>
    <meta name="title" content="<%=@page.title%>">
<% end -%>
<!--<div class="block offer_image">&nbsp;</div>
<div class="block shadow_slider">&nbsp;</div>-->

<div class="block">
  <div class="product_title">
    <div style="margin-left: 15px;"> Vårt erbjudande </div>
  </div>
  <br/><br/>
  <div class="faq_block_a">
    <%= raw @page.body %>
  </div>
</div>